Repository onap/oom: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pylint, documentation:doc8, documentation:link-check, documentation:spelling, helm:fast, helm:full, documentation, gating:launch

Path conditions:
  pylint: any of: .ci/*, .gitlab-ci.yml, **/*.py
  documentation:doc8: any of: .ci/*, .gitlab-ci.yml, docs/**/*
  documentation:link-check: any of: .ci/*, .gitlab-ci.yml, docs/**/*
  documentation:spelling: any of: .ci/*, .gitlab-ci.yml, docs/**/*
  helm:fast: any of: .ci/*, .gitlab-ci.yml, kubernetes/**/*
  helm:full: any of: .ci/*, .gitlab-ci.yml, kubernetes/**/*
  documentation: any of: .ci/*, .gitlab-ci.yml, docs/*
  gating:launch: any of: .ci/*, .gitlab-ci.yml, kubernetes/**/*

Update notes for submitted changes
  1d/d4e219be71cb2f71862f3b314a05fbea392513
Due: none

Update patch set 1
  1dd4e219be71cb2f71862f3b314a05fbea392513
Due: none

[AAI] 16.0.0 release
  kubernetes/aai/Chart.yaml
  kubernetes/aai/components/aai-traversal/Chart.yaml
  kubernetes/aai/components/aai-traversal/resources/config/aaiconfig.properties
  kubernetes/aai/components/aai-traversal/resources/config/application.properties
  kubernetes/aai/components/aai-traversal/templates/_helpers.tpl
  kubernetes/aai/components/aai-traversal/values.yaml
  kubernetes/onap/Chart.yaml
Due: helm:fast, helm:full, gating:launch

[MARIADB] Update mariadb image and operator versions
  kubernetes/common/mariadb-galera/Chart.yaml
  kubernetes/common/mariadb-galera/values.yaml
  kubernetes/common/mariadb-init/Chart.yaml
  kubernetes/common/mariadb-init/resources/config/db_init.sh
  kubernetes/common/mariadb-init/tests/configmap_test.yaml
  kubernetes/common/repositoryGenerator/Chart.yaml
  kubernetes/common/repositoryGenerator/values.yaml
  kubernetes/onap/Chart.yaml
  kubernetes/onap/values.yaml
  kubernetes/sdnc/Chart.yaml
  kubernetes/sdnc/components/network-name-gen/Chart.yaml
  kubernetes/sdnc/resources/config/bin/createSdnrDb.sh
  kubernetes/sdnc/resources/config/bin/installSdncDb.sh
  kubernetes/so/components/so-mariadb/Chart.yaml
  kubernetes/so/components/so-mariadb/resources/config/docker-entrypoint-initdb.d/01-create-camundabpmn.sh
  kubernetes/so/components/so-mariadb/resources/config/docker-entrypoint-initdb.d/02-create-requestdb.sh
  kubernetes/so/components/so-mariadb/resources/config/docker-entrypoint-initdb.d/03-create-catalogdb.sh
  kubernetes/so/components/so-mariadb/resources/config/docker-entrypoint-initdb.d/04-create-nfvo-db.sh
  kubernetes/so/components/so-mariadb/resources/config/docker-entrypoint-initdb.d/05-create-cnfm-db.sh
  kubernetes/so/components/so-mariadb/resources/config/docker-entrypoint-initdb.d/98-create-so-user.sh
  kubernetes/so/components/so-mariadb/resources/config/docker-entrypoint-initdb.d/99-create-so-admin.sh
  kubernetes/so/components/so-mariadb/templates/job.yaml
  kubernetes/so/components/so-mariadb/values.yaml
Due: helm:fast, helm:full, gating:launch

[MARIADB] Update mariadb image and operator versions
  docs/sections/guides/infra_guides/oom_infra_deployment_requirements.rst
  kubernetes/common/mariadb-galera/Chart.yaml
  kubernetes/common/mariadb-galera/values.yaml
  kubernetes/common/mariadb-init/Chart.yaml
  kubernetes/common/mariadb-init/resources/config/db_init.sh
  kubernetes/common/mariadb-init/tests/configmap_test.yaml
  kubernetes/common/repositoryGenerator/Chart.yaml
  kubernetes/common/repositoryGenerator/values.yaml
  kubernetes/onap/Chart.yaml
  kubernetes/onap/values.yaml
  kubernetes/sdnc/Chart.yaml
  kubernetes/sdnc/components/network-name-gen/Chart.yaml
  kubernetes/sdnc/resources/config/bin/createSdnrDb.sh
  kubernetes/sdnc/resources/config/bin/installSdncDb.sh
  kubernetes/so/components/so-mariadb/Chart.yaml
  kubernetes/so/components/so-mariadb/resources/config/docker-entrypoint-initdb.d/01-create-camundabpmn.sh
  kubernetes/so/components/so-mariadb/resources/config/docker-entrypoint-initdb.d/02-create-requestdb.sh
  kubernetes/so/components/so-mariadb/resources/config/docker-entrypoint-initdb.d/03-create-catalogdb.sh
  kubernetes/so/components/so-mariadb/resources/config/docker-entrypoint-initdb.d/04-create-nfvo-db.sh
  kubernetes/so/components/so-mariadb/resources/config/docker-entrypoint-initdb.d/05-create-cnfm-db.sh
  kubernetes/so/components/so-mariadb/resources/config/docker-entrypoint-initdb.d/98-create-so-user.sh
  kubernetes/so/components/so-mariadb/resources/config/docker-entrypoint-initdb.d/99-create-so-admin.sh
  kubernetes/so/components/so-mariadb/templates/job.yaml
  kubernetes/so/components/so-mariadb/values.yaml
Due: documentation:doc8, documentation:link-check, documentation:spelling, helm:fast, helm:full, gating:launch
