Repository onap/oom: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pylint, documentation:doc8, documentation:link-check, documentation:spelling, helm:fast, helm:full, documentation, gating:launch

Path conditions:
  pylint: any of: .ci/*, .gitlab-ci.yml, **/*.py
  documentation:doc8: any of: .ci/*, .gitlab-ci.yml, docs/**/*
  documentation:link-check: any of: .ci/*, .gitlab-ci.yml, docs/**/*
  documentation:spelling: any of: .ci/*, .gitlab-ci.yml, docs/**/*
  helm:fast: any of: .ci/*, .gitlab-ci.yml, kubernetes/**/*
  helm:full: any of: .ci/*, .gitlab-ci.yml, kubernetes/**/*
  documentation: any of: .ci/*, .gitlab-ci.yml, docs/*
  gating:launch: any of: .ci/*, .gitlab-ci.yml, kubernetes/**/*

[POLICY] Update docker images to latest versions
  kubernetes/policy/components/policy-apex-pdp/Chart.yaml
  kubernetes/policy/components/policy-apex-pdp/values.yaml
  kubernetes/policy/components/policy-api/Chart.yaml
  kubernetes/policy/components/policy-api/values.yaml
  kubernetes/policy/components/policy-clamp-ac-a1pms-ppnt/Chart.yaml
  kubernetes/policy/components/policy-clamp-ac-a1pms-ppnt/values.yaml
  kubernetes/policy/components/policy-clamp-ac-http-ppnt/Chart.yaml
  kubernetes/policy/components/policy-clamp-ac-http-ppnt/values.yaml
  kubernetes/policy/components/policy-clamp-ac-k8s-ppnt/Chart.yaml
  kubernetes/policy/components/policy-clamp-ac-k8s-ppnt/templates/deployment.yaml
  kubernetes/policy/components/policy-clamp-ac-k8s-ppnt/values.yaml
  kubernetes/policy/components/policy-clamp-ac-kserve-ppnt/Chart.yaml
  kubernetes/policy/components/policy-clamp-ac-kserve-ppnt/values.yaml
  kubernetes/policy/components/policy-clamp-ac-pf-ppnt/Chart.yaml
  kubernetes/policy/components/policy-clamp-ac-pf-ppnt/values.yaml
  kubernetes/policy/components/policy-clamp-runtime-acm/Chart.yaml
  kubernetes/policy/components/policy-clamp-runtime-acm/templates/deployment.yaml
  kubernetes/policy/components/policy-clamp-runtime-acm/values.yaml
  kubernetes/policy/components/policy-distribution/Chart.yaml
  kubernetes/policy/components/policy-distribution/values.yaml
  kubernetes/policy/components/policy-drools-pdp/Chart.yaml
  kubernetes/policy/components/policy-drools-pdp/values.yaml
  kubernetes/policy/components/policy-opa-pdp/Chart.yaml
  kubernetes/policy/components/policy-opa-pdp/values.yaml
  kubernetes/policy/components/policy-pap/Chart.yaml
  kubernetes/policy/components/policy-pap/values.yaml
  kubernetes/policy/components/policy-xacml-pdp/Chart.yaml
  kubernetes/policy/components/policy-xacml-pdp/values.yaml
Due: helm:fast, helm:full, gating:launch

Fix: Revert Python to 3.11 in docs configuration
  .readthedocs.yaml
  docs/tox.ini
Due: documentation:doc8, documentation:link-check, documentation:spelling, documentation

Chore: Fix typo in aai-resources values.yaml
  kubernetes/aai/components/aai-resources/values.yaml
Due: helm:fast, helm:full, gating:launch

Update patch set 1
  e8092c02ae7e9a955f29dbfc91195ef5410e56d8
Due: none

[POLICY] Change api parameters for Spring Boot 4
  kubernetes/policy/components/policy-api/resources/config/apiParameters.yaml
Due: helm:fast, helm:full, gating:launch
