Repository onap/oom: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pylint, documentation:doc8, documentation:link-check, documentation:spelling, helm:fast, helm:full, documentation, gating:launch

pylint:
  stage: linting
  image:
    name: cytopia/pylint
    entrypoint:
    - ''
  script:
  - . .ci/common.sh
  - title "Running pylint check..."
  - exit_code=0
  - RESULT=$(find kubernetes/ TOSCA/ docs/ -name '*.py' -print0 | xargs -0 pylint 2>&1) || exit_code=$?
  - handle_test_result $exit_code "$RESULT"
  ...

documentation:doc8:
  stage: linting
  image:
    name: testthedocs/ttd-doc8
    entrypoint:
    - ''
  script:
  - . .ci/common.sh
  - title "Running doc8 check..."
  - exit_code=0
  - RESULT=$(doc8 docs 2>&1) || exit_code=$?
  - handle_test_result $exit_code "$RESULT"
  - exit $exit_code
  needs: []

documentation:link-check:
  stage: linting
  image:
    name: python:3.7
    entrypoint:
    - ''
  script:
  - . .ci/common.sh
  - pip install -r requirements.txt -chttps://git.onap.org/doc/plain/etc/upper-constraints.os.txt -chttps://git.onap.org/doc/plain/etc/upper-constraints.onap.txt
  - title "Running documentation links check..."
  ...

documentation:spelling:
  stage: linting
  image:
    name: python:3.7
    entrypoint:
    - ''
  script:
  - . .ci/common.sh
  - apt-get update
  - apt-get install -qq --yes curl libenchant-2-2
  - curl -LO https://git.onap.org/doc/plain/docs/spelling_wordlist.txt
  ...

helm:fast:
  stage: linting
  services:
  - name: bitnami/chartmuseum:latest
    alias: chartmuseum
  image:
    name: alpine/helm:3.6.3
    entrypoint:
    - ''
  variables:
    SKIP_LINT: 'TRUE'
  script:
  - . .ci/common.sh
  - apk add --no-cache make
  - helm repo add local http://chartmuseum:8080/
  ...

helm:full:
  stage: build
  services:
  - name: bitnami/chartmuseum:latest
    alias: chartmuseum
  image:
    name: alpine/helm:3.6.3
    entrypoint:
    - ''
  script:
  - . .ci/common.sh
  - apk add --no-cache make
  - helm repo add local http://chartmuseum:8080/
  ...

documentation:
  stage: build
  image:
    name: python:3.7
    entrypoint:
    - ''
  script:
  - . .ci/common.sh
  - apt-get update
  - apt-get install --yes graphviz plantuml
  ...

gating:launch:
  stage: test
  image:
    name: busybox
    entrypoint:
    - ''
  script:
  - . .ci/common.sh
  - title "Launching request for a gate"
  needs:
  - bashisms
  - helm:fast
  - tabs
  - trailing-whitespaces

Update notes for submitted changes
  a1/1336f7d4b14219341a58d2bfe4db9f04d2d901
Due: none

Update patch set 2
  a11336f7d4b14219341a58d2bfe4db9f04d2d901
Due: none

Update patch set 1
  bfb1e3ca7140e0f16ac05811f1fcbdfdc992de17
Due: none

fix docs config files for paris release
  .gitreview
  docs/conf.py
Due: pylint, documentation:doc8, documentation:link-check, documentation:spelling, documentation

Update notes for submitted changes
  4e/7b5302050afe3e3b78c0c0d1234cb5dd121dba
Due: none

Update patch set 1
  4e7b5302050afe3e3b78c0c0d1234cb5dd121dba
Due: none

[PMS] Updated a1pms chart to work with new a1pms images
  kubernetes/a1policymanagement/resources/config/application.yaml
  kubernetes/a1policymanagement/resources/config/logback-plain.xml
  kubernetes/a1policymanagement/templates/statefulset.yaml
  kubernetes/a1policymanagement/values.yaml
Due: helm:fast, helm:full, gating:launch

Path conditions:
  pylint: any of: .ci/*, .gitlab-ci.yml, **/*.py
  documentation:doc8: any of: .ci/*, .gitlab-ci.yml, docs/**/*
  documentation:link-check: any of: .ci/*, .gitlab-ci.yml, docs/**/*
  documentation:spelling: any of: .ci/*, .gitlab-ci.yml, docs/**/*
  helm:fast: any of: .ci/*, .gitlab-ci.yml, kubernetes/**/*
  helm:full: any of: .ci/*, .gitlab-ci.yml, kubernetes/**/*
  documentation: any of: .ci/*, .gitlab-ci.yml, docs/*
  gating:launch: any of: .ci/*, .gitlab-ci.yml, kubernetes/**/*
