Repository onap/oom: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pylint, documentation:doc8, documentation:link-check, documentation:spelling, helm:fast, helm:full, documentation, gating:launch

pylint:
  stage: linting
  image:
    name: cytopia/pylint
    entrypoint:
    - ''
  script:
  - . .ci/common.sh
  - title "Running pylint check..."
  - exit_code=0
  - RESULT=$(find kubernetes/ TOSCA/ docs/ -name '*.py' -print0 | xargs -0 pylint 2>&1) || exit_code=$?
  - handle_test_result $exit_code "$RESULT"
  ...

documentation:doc8:
  stage: linting
  image:
    name: testthedocs/ttd-doc8
    entrypoint:
    - ''
  script:
  - . .ci/common.sh
  - title "Running doc8 check..."
  - exit_code=0
  - RESULT=$(doc8 docs 2>&1) || exit_code=$?
  - handle_test_result $exit_code "$RESULT"
  - exit $exit_code
  needs: []

documentation:link-check:
  stage: linting
  image:
    name: python:3.7
    entrypoint:
    - ''
  script:
  - . .ci/common.sh
  - pip install -r requirements.txt -chttps://git.onap.org/doc/plain/etc/upper-constraints.os.txt -chttps://git.onap.org/doc/plain/etc/upper-constraints.onap.txt
  - title "Running documentation links check..."
  ...

documentation:spelling:
  stage: linting
  image:
    name: python:3.7
    entrypoint:
    - ''
  script:
  - . .ci/common.sh
  - apt-get update
  - apt-get install -qq --yes curl libenchant-2-2
  - curl -LO https://git.onap.org/doc/plain/docs/spelling_wordlist.txt
  ...

helm:fast:
  stage: linting
  services:
  - name: bitnami/chartmuseum:latest
    alias: chartmuseum
  image:
    name: alpine/helm:3.6.3
    entrypoint:
    - ''
  variables:
    SKIP_LINT: 'TRUE'
  script:
  - . .ci/common.sh
  - apk add --no-cache make
  - helm repo add local http://chartmuseum:8080/
  ...

helm:full:
  stage: build
  services:
  - name: bitnami/chartmuseum:latest
    alias: chartmuseum
  image:
    name: alpine/helm:3.6.3
    entrypoint:
    - ''
  script:
  - . .ci/common.sh
  - apk add --no-cache make
  - helm repo add local http://chartmuseum:8080/
  ...

documentation:
  stage: build
  image:
    name: python:3.7
    entrypoint:
    - ''
  script:
  - . .ci/common.sh
  - apt-get update
  - apt-get install --yes graphviz plantuml
  ...

gating:launch:
  stage: test
  image:
    name: busybox
    entrypoint:
    - ''
  script:
  - . .ci/common.sh
  - title "Launching request for a gate"
  needs:
  - bashisms
  - helm:fast
  - tabs
  - trailing-whitespaces

Update notes for submitted changes
  4a/490084122eba1ca2cc704e6518cbf88a492eb4
Due: none

Update notes for submitted changes
  c8/7dbc30928b4a9d05062ac842ec6749ee25ab3c
Due: none

[DOC] ServiceMesh documentation
  docs/conf.py
  docs/sections/guides/access_guides/oom_access_info.rst
  docs/sections/guides/access_guides/oom_ingress_access.rst
  docs/sections/guides/deployment_guides/oom_customize_overrides.rst
  docs/sections/guides/infra_guides/oom_base_optional_addons.rst
  docs/sections/guides/infra_guides/oom_infra_setup.rst
  docs/sections/guides/user_guides/oom_user_guide.rst
  docs/sections/resources/csv/nodeports.csv
  docs/sections/resources/images/servicemesh/ServiceMesh.png
  docs/sections/resources/yaml/envoyfilter-case.yaml
  docs/sections/resources/yaml/kiali-ingress.yaml
  docs/sections/resources/yaml/kiali.yaml
Due: pylint, documentation:doc8, documentation:link-check, documentation:spelling, documentation

[COMMON] Correct Ingress template to create Istio GW/VS
  kubernetes/common/common/templates/_ingress.tpl
  kubernetes/common/common/templates/_service.tpl
  kubernetes/onap/resources/overrides/onap-all-ingress-istio.yaml
  kubernetes/onap/resources/overrides/onap-all-ingress-nginx-vhost.yaml
  kubernetes/onap/values.yaml
Due: helm:fast, helm:full, gating:launch

[POLICY] Update docker images to latest versions
  .gitreview
  kubernetes/policy/components/policy-apex-pdp/values.yaml
  kubernetes/policy/components/policy-gui/values.yaml
Due: helm:fast, helm:full, gating:launch

Path conditions:
  pylint: any of: .ci/*, .gitlab-ci.yml, **/*.py
  documentation:doc8: any of: .ci/*, .gitlab-ci.yml, docs/**/*
  documentation:link-check: any of: .ci/*, .gitlab-ci.yml, docs/**/*
  documentation:spelling: any of: .ci/*, .gitlab-ci.yml, docs/**/*
  helm:fast: any of: .ci/*, .gitlab-ci.yml, kubernetes/**/*
  helm:full: any of: .ci/*, .gitlab-ci.yml, kubernetes/**/*
  documentation: any of: .ci/*, .gitlab-ci.yml, docs/*
  gating:launch: any of: .ci/*, .gitlab-ci.yml, kubernetes/**/*
