Repository onap/oom: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pylint, documentation:doc8, documentation:link-check, documentation:spelling, helm:fast, helm:full, documentation, gating:launch

pylint:
  stage: linting
  image:
    name: cytopia/pylint
    entrypoint:
    - ''
  script:
  - . .ci/common.sh
  - title "Running pylint check..."
  - exit_code=0
  - RESULT=$(find kubernetes/ TOSCA/ docs/ -name '*.py' -print0 | xargs -0 pylint 2>&1) || exit_code=$?
  - handle_test_result $exit_code "$RESULT"
  ...

documentation:doc8:
  stage: linting
  image:
    name: testthedocs/ttd-doc8
    entrypoint:
    - ''
  script:
  - . .ci/common.sh
  - title "Running doc8 check..."
  - exit_code=0
  - RESULT=$(doc8 docs 2>&1) || exit_code=$?
  - handle_test_result $exit_code "$RESULT"
  - exit $exit_code
  needs: []

documentation:link-check:
  stage: linting
  image:
    name: python:3.7
    entrypoint:
    - ''
  script:
  - . .ci/common.sh
  - pip install -r requirements.txt -chttps://git.onap.org/doc/plain/etc/upper-constraints.os.txt -chttps://git.onap.org/doc/plain/etc/upper-constraints.onap.txt
  - title "Running documentation links check..."
  ...

documentation:spelling:
  stage: linting
  image:
    name: python:3.7
    entrypoint:
    - ''
  script:
  - . .ci/common.sh
  - apt-get update
  - apt-get install -qq --yes curl libenchant-2-2
  - curl -LO https://git.onap.org/doc/plain/docs/spelling_wordlist.txt
  ...

helm:fast:
  stage: linting
  services:
  - name: bitnami/chartmuseum:latest
    alias: chartmuseum
  image:
    name: alpine/helm:3.6.3
    entrypoint:
    - ''
  variables:
    SKIP_LINT: 'TRUE'
  script:
  - . .ci/common.sh
  - apk add --no-cache make
  - helm repo add local http://chartmuseum:8080/
  ...

helm:full:
  stage: build
  services:
  - name: bitnami/chartmuseum:latest
    alias: chartmuseum
  image:
    name: alpine/helm:3.6.3
    entrypoint:
    - ''
  script:
  - . .ci/common.sh
  - apk add --no-cache make
  - helm repo add local http://chartmuseum:8080/
  ...

documentation:
  stage: build
  image:
    name: python:3.7
    entrypoint:
    - ''
  script:
  - . .ci/common.sh
  - apt-get update
  - apt-get install --yes graphviz plantuml
  ...

gating:launch:
  stage: test
  image:
    name: busybox
    entrypoint:
    - ''
  script:
  - . .ci/common.sh
  - title "Launching request for a gate"
  needs:
  - bashisms
  - helm:fast
  - tabs
  - trailing-whitespaces

Update notes for submitted changes
  8e/9a392b2d1562184777ce1522eafc3903e964fe
Due: none

Update notes for submitted changes
  4c/e03c73060e3721c35deae65715ae903079ae16
Due: none

[HV-VES-STRIMZI] Migrate hv-ves to use strimzi kafka
  kubernetes/dcaegen2-services/common/dcaegen2-services-common/templates/_deployment.tpl
  kubernetes/dcaegen2-services/components/dcae-hv-ves-collector/templates/hv-ves-kafka-user.yaml
  kubernetes/dcaegen2-services/components/dcae-hv-ves-collector/templates/hv-ves-topics.yaml
  kubernetes/dcaegen2-services/components/dcae-hv-ves-collector/values.yaml
  kubernetes/dcaegen2-services/values.yaml
  kubernetes/robot/resources/config/eteshare/config/robot_properties.py
  kubernetes/robot/values.yaml
Due: pylint, helm:fast, helm:full, gating:launch

[SDNC ] Fix Oauth field
  kubernetes/sdnc/resources/config/conf/oauth-provider.config.json
Due: helm:fast, helm:full, gating:launch

Security Logging Fields
  kubernetes/cps/components/cps-core/resources/config/logback.xml
Due: helm:fast, helm:full, gating:launch

Path conditions:
  pylint: any of: .ci/*, .gitlab-ci.yml, **/*.py
  documentation:doc8: any of: .ci/*, .gitlab-ci.yml, docs/**/*
  documentation:link-check: any of: .ci/*, .gitlab-ci.yml, docs/**/*
  documentation:spelling: any of: .ci/*, .gitlab-ci.yml, docs/**/*
  helm:fast: any of: .ci/*, .gitlab-ci.yml, kubernetes/**/*
  helm:full: any of: .ci/*, .gitlab-ci.yml, kubernetes/**/*
  documentation: any of: .ci/*, .gitlab-ci.yml, docs/*
  gating:launch: any of: .ci/*, .gitlab-ci.yml, kubernetes/**/*
